.union-icon {
  	position: relative;
  	width: 292px;
  	height: 141px;
}
.resources {
  	position: absolute;
  	width: 94.46%;
  	top: 50.31%;
  	left: 0.65%;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.tab-resources {
  	position: absolute;
  	top: 0.06px;
  	left: 584px;
  	filter: drop-shadow(5px 10px 3px #563c8b);
  	width: 307px;
  	height: 159px;
  	cursor: pointer;
}
.tab-resources1 {
  	position: absolute;
  	top: 0.06px;
  	left: 920px;
  	filter: drop-shadow(5px 10px 3px #563c8b);
  	width: 307px;
  	height: 159px;
  	cursor: pointer;
}
.tab-resources2 {
  	position: absolute;
  	top: 0.06px;
  	left: 1256px;
  	filter: drop-shadow(5px 10px 3px #563c8b);
  	width: 307px;
  	height: 159px;
  	cursor: pointer;
}
.resources3 {
  	position: absolute;
  	width: 94.46%;
  	top: 40.88%;
  	left: 0.65%;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.tab-resources3 {
  	position: absolute;
  	height: 28.44%;
  	width: 98.71%;
  	top: 0%;
  	right: 0%;
  	bottom: 71.56%;
  	left: 1.29%;
  	filter: drop-shadow(5px 10px 3px #563c8b);
  	cursor: pointer;
}
.instance-child {
  	position: absolute;
  	height: 71.56%;
  	width: 96.46%;
  	top: 28.44%;
  	right: 3.54%;
  	bottom: 0%;
  	left: 0%;
  	background-color: #a0c1b8;
}
.fireems-helpline {
  	position: absolute;
  	height: 62.61%;
  	width: 80.39%;
  	top: 32.92%;
  	left: 8.36%;
  	font-size: 15px;
  	letter-spacing: 0.3em;
  	line-height: 100%;
  	color: #000;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.tab-resources-parent {
  	position: absolute;
  	top: 164px;
  	left: 52px;
  	width: 311px;
  	height: 559px;
}
.blank-line {
  	margin: 0;
}
.fireems-helpline-container1 {
  	width: 100%;
}
.fireems-helpline-container {
  	position: absolute;
  	height: 62.61%;
  	width: 80.39%;
  	top: 32.92%;
  	left: 8.36%;
  	font-size: 15px;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	color: #000;
  	display: flex;
  	align-items: center;
}
.tab-resources-group {
  	position: absolute;
  	top: 159px;
  	left: 654px;
  	width: 311px;
  	height: 559px;
}
.tab-resources-container {
  	position: absolute;
  	top: 159px;
  	left: 1212px;
  	width: 311px;
  	height: 559px;
}
.support-groups-page-child {
  	position: absolute;
  	top: 281.5px;
  	left: 109.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page-item {
  	position: absolute;
  	top: 281.5px;
  	left: 309.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page-inner {
  	position: absolute;
  	top: 304.5px;
  	left: 109.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.line-div {
  	position: absolute;
  	top: 304.5px;
  	left: 309.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page-child1 {
  	position: absolute;
  	top: 299.5px;
  	left: 911.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page-child2 {
  	position: absolute;
  	top: 299.5px;
  	left: 711.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page-child3 {
  	position: absolute;
  	top: 299.5px;
  	left: 1269.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page-child4 {
  	position: absolute;
  	top: 299.5px;
  	left: 1469.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.support-groups-page {
  	width: 100%;
  	position: relative;
  	background-color: #efb9e9;
  	height: 761px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 30px;
  	color: #b855c5;
  	font-family: Comfortaa;
}

