<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./SupportGroupsPage.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="support-groups-page">
    		<div class="tab-resources" id="tabResources">
      			<img class="union-icon" alt="" src="Union.svg">
      			
      			<div class="resources">Home</div>
    		</div>
    		<div class="tab-resources1" id="tabResources1">
      			<img class="union-icon" alt="" src="Union.svg">
      			
      			<div class="resources">Resources</div>
    		</div>
    		<div class="tab-resources2" id="tabResources2">
      			<img class="union-icon" alt="" src="Union.svg">
      			
      			<div class="resources">Support Forums</div>
    		</div>
    		<div class="tab-resources-parent">
      			<div class="tab-resources3" id="tabResources">
        				<img class="union-icon" alt="" src="Union.svg">
        				
        				<div class="resources3">Why Support Groups?</div>
      			</div>
      			<div class="instance-child">
      			</div>
      			<div class="fireems-helpline">Support groups connect first responders who’ve faced similar challenges. Whether you're dealing with stress, burnout, grief, or trauma, you’re not alone — these spaces offer connection, understanding, and strength.</div>
    		</div>
    		<div class="tab-resources-group">
      			<div class="tab-resources3" id="tabResources">
        				<img class="union-icon" alt="" src="Union.svg">
        				
        				<div class="resources3">Support Group Categories</div>
      			</div>
      			<div class="instance-child">
      			</div>
      			<div class="fireems-helpline-container">
        				<span class="fireems-helpline-container1">
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">Firefighters & EMS</p>
          					<p class="blank-line">(Link)</p>
          					<p class="blank-line">Focus : On Scene Trauma, Burnout, & Grieving Process</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">Law Enforcement</p>
          					<p class="blank-line">(Link)</p>
          					<p class="blank-line">Focus : Stress Management, Moral Injury, PTSD</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">Medical First Responders</p>
          					<p class="blank-line">(Link)</p>
          					<p class="blank-line">Focus : Compassion Fatigue, Emergencies, Mental Load</p>
          					<p class="blank-line">&nbsp;</p>
        				</span>
      			</div>
    		</div>
    		<div class="tab-resources-container">
      			<div class="tab-resources3" id="tabResources">
        				<img class="union-icon" alt="" src="Union.svg">
        				
        				<div class="resources">Suggest A Group</div>
      			</div>
      			<div class="instance-child">
      			</div>
      			<div class="fireems-helpline-container">
        				<span class="fireems-helpline-container1">
          					<p class="blank-line">Uses AI from Home Page</p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">to suggest a support group that </p>
          					<p class="blank-line">&nbsp;</p>
          					<p class="blank-line">most fits the needs of the user</p>
        				</span>
      			</div>
    		</div>
    		<div class="support-groups-page-child">
    		</div>
    		<div class="support-groups-page-item">
    		</div>
    		<div class="support-groups-page-inner">
    		</div>
    		<div class="line-div">
    		</div>
    		<div class="support-groups-page-child1">
    		</div>
    		<div class="support-groups-page-child2">
    		</div>
    		<div class="support-groups-page-child3">
    		</div>
    		<div class="support-groups-page-child4">
    		</div>
  	</div>
  	
  	
  	
  	
  	<script>
    		var tabResources = document.getElementById("tabResources");
    		if(tabResources) {
      			tabResources.addEventListener("click", function (e) {
        				window.location.href = "HomePage.html";
      			});
    		}
    		
    		var tabResources1 = document.getElementById("tabResources1");
    		if(tabResources1) {
      			tabResources1.addEventListener("click", function (e) {
        				window.location.href = "ResourcePage.html";
      			});
    		}
    		
    		var tabResources2 = document.getElementById("tabResources2");
    		if(tabResources2) {
      			tabResources2.addEventListener("click", function (e) {
        				window.location.href = "SupportForumsPage.html";
      			});
    		}</script></body>
</html>