.union-icon {
  	position: relative;
  	width: 292px;
  	height: 141px;
}
.resources {
  	position: absolute;
  	width: 94.46%;
  	top: 40.88%;
  	left: 0.65%;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.tab-resources {
  	width: 307px;
  	position: relative;
  	filter: drop-shadow(5px 10px 3px #563c8b);
  	height: 159px;
  	cursor: pointer;
}
.resources1 {
  	position: absolute;
  	width: 94.46%;
  	top: 50.31%;
  	left: 0.65%;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.tab-resources-parent {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	width: 1563px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-end;
  	gap: 29px;
}
.resources-page-child {
  	position: absolute;
  	top: 299.5px;
  	left: 148.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 21px;
}
.resources-page-item {
  	position: absolute;
  	top: 299.5px;
  	left: 348.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 21px;
}
.tab-resources4 {
  	position: absolute;
  	height: 28.44%;
  	width: 98.71%;
  	top: 0%;
  	right: 0%;
  	bottom: 71.56%;
  	left: 1.29%;
  	filter: drop-shadow(5px 10px 3px #563c8b);
  	cursor: pointer;
}
.component-child {
  	position: absolute;
  	height: 71.56%;
  	width: 96.46%;
  	top: 28.44%;
  	right: 3.54%;
  	bottom: 0%;
  	left: 0%;
  	background-color: #a0c1b8;
}
.blank-line {
  	margin: 0;
}
.fireems-helpline-container1 {
  	width: 100%;
}
.fireems-helpline-container {
  	position: absolute;
  	height: 62.61%;
  	width: 80.39%;
  	top: 32.92%;
  	left: 8.36%;
  	font-size: 15px;
  	letter-spacing: -0.03em;
  	line-height: 100%;
  	color: #000;
  	display: flex;
  	align-items: center;
}
.tab-resources-group {
  	position: absolute;
  	top: 164px;
  	left: 124px;
  	width: 311px;
  	height: 559px;
}
.tab-resources-container {
  	position: absolute;
  	top: 164px;
  	left: 635px;
  	width: 311px;
  	height: 559px;
}
.group-div {
  	position: absolute;
  	top: 166px;
  	left: 1146px;
  	width: 311px;
  	height: 559px;
}
.firetruck-icon {
  	position: absolute;
  	top: 425px;
  	left: 242px;
  	width: 54px;
  	height: 38px;
}
.cop-icon {
  	position: absolute;
  	top: 509px;
  	left: 243px;
  	width: 52px;
  	height: 34px;
  	object-fit: contain;
}
.medal-icon {
  	position: absolute;
  	top: 573px;
  	left: 248px;
  	width: 45px;
  	height: 44px;
}
.wave-icon {
  	position: absolute;
  	top: 663px;
  	left: 256px;
  	width: 30px;
  	height: 29px;
}
.resources-page-inner {
  	position: absolute;
  	top: 304.5px;
  	left: 692.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.line-div {
  	position: absolute;
  	top: 304.5px;
  	left: 892.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.resources-page-child1 {
  	position: absolute;
  	top: 306.5px;
  	left: 1203.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.resources-page-child2 {
  	position: absolute;
  	top: 306.5px;
  	left: 1403.5px;
  	border-right: 1px solid #fff;
  	box-sizing: border-box;
  	width: 1px;
  	height: 19px;
}
.resources-page {
  	width: 100%;
  	position: relative;
  	background-color: #efb9e9;
  	height: 761px;
  	overflow: hidden;
  	text-align: center;
  	font-size: 30px;
  	color: #b855c5;
  	font-family: Comfortaa;
}

