body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#forum-container {
    width: 30%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-right: 5px;
}
h1 {
    background-color: #A0C1BB;
    color: white;
    margin: 0;
    padding: 15px;
    text-align: center;
}
#post-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
#post-form input, #post-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #A0C1BB;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #4ec2ad;
}
#posts {
    padding: 15px;
    width: 70%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-height: 350px;
}
.post {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.post h3 {
    margin: 0;
    color: #A0C1BB;
    font-family: Arial
}
.post p {
    margin: 5px 0 0 0;
}
